/* LIGHT/DARK MODE */

:root {
    --primary: hsl(47, 100%, 50.2%);
    --primary-hover: hsla(47, 100%, 50.2%, 0.801);
    --black-100: hsl(192, 0%, 0%);
    --black-90: hsl(192, 0%, 10%);
    --black-80: hsl(192, 0%, 20%);
    --black-75: hsl(192, 0%, 25%);
    --black-50: hsl(192, 0%, 50%);
    --black-25: hsl(192, 0%, 75%);
    --black-10: hsl(192, 0%, 90%);
    --black-5: hsl(192, 0%, 95%);
}

:root,
html[data-theme='light'] {
    --background-color: white;
    --text-color: var(--black-100);
    --link-color: var(--black-80);
    --link-color-on-hover: var(--black-50);
    --header-background-color: var(--black-90);
    --code-background-color: var(--black-5);
    --code-color: var(--black-100);
    --aside-background-color: var(--black-10);
}

html[data-theme='dark'] {
    --background-color: var(--black-90);
    --text-color: var(--black-10);
    --link-color: white;
    --link-color-on-hover: var(--primary-hover);
    --header-background-color: var(--black-100);
    --code-background-color: #2a2a2a;
    --code-color: white;
    --aside-background-color: var(--black-80);
}

/* GLOBAL CSS */

body {
    /* RESET DEFAULT BROWSER STYLES */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* SMOOTH TEXT & BG COLOR TRANSITIONS */
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    
    /* SET PAGE HEIGHT MIN 100 VH & PUSH FOOTER TO BOTTOM */
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    min-width: 375px;
}

h2 {
    text-align: center;
}

article {
    & h2 {
        font-size: 2rem;
        line-height: normal;
    }

    & p {
        font-size: 18px;
        line-height: 1.8rem;
        margin-bottom: 1.5em;
    }
}

code {
    background-color: var(--code-background-color) !important;
    /* color: var(--code-color); */
    font-size: 15px;
    border-radius: 5px;
    
    & .hljs-comment {
        font-style: normal !important; /* overwrite italic for dark mode */
    }
}

/* pre {
    background-color: var(--code-background-color);
    color: var(--code-color);
    padding: 1em 1em;
    overflow: auto;
    border-radius: 5px;
} */

aside {
    background-color: var(--aside-background-color);
    color: var(--aside-color)
}

select {
    background-color: var(--aside-background-color);
    color: var(--aside-color);
    padding: 0.5em 0;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-on-hover)
}

hr {
    border-color: rgb(193, 193, 193);
    border-bottom: none;
}

figure {
    margin: 0;
    font-size: small;
}

.icon {
    /* vertical-align: -0.2em; */
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#cta-btn {
    background-color: var(--primary);
    border-color: var(--primary);
}

#cta-btn:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary);
}